<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.amaliacocina_01">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AmaliaCocina_01">
        <activity
            android:name=".ListPedidos"
            android:exported="false" />
        <activity
            android:name=".VistaAdministrador"
            android:exported="false" />
        <activity
            android:name=".CarritoCompras"
            android:exported="false" />
        <activity
            android:name=".Chats"
            android:exported="false" />
        <activity
            android:name=".Notificaciones"
            android:exported="false" />
        <activity
            android:name=".Cupones"
            android:exported="false" />
        <activity
            android:name=".PantPerfil"
            android:exported="false" />
        <activity
            android:name=".Gps"
            android:exported="false" />
        <activity
            android:name=".pedidos"
            android:exported="false" />
        <activity
            android:name=".PolloPromocionesActivity"
            android:exported="false" />
        <activity
            android:name=".IdentificarseActivity"
            android:exported="false" />
        <activity
            android:name=".CoctelesActivity"
            android:exported="false" />
        <activity
            android:name=".BebidasActivity"
            android:exported="false" />
        <activity
            android:name=".LomoSaltadoActivity"
            android:exported="false" />
        <activity
            android:name=".ParrillasFuegoActivity"
            android:exported="false" />
        <activity
            android:name=".ParrillasActivity"
            android:exported="false" />
        <activity
            android:name=".PolloActivity"
            android:exported="false" />
        <activity
            android:name=".RegistroActivity"
            android:exported="false" />
        <activity
            android:name=".IniciarSesionActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>